*{
    text-decoration:none;
    color:#888888;
    background-color:#dddddd;
}

/*begin:layout*/
html{
    min-height:96%;
    border-width:20px;
    border-style:solid;
    border-color:#ffffff;
}
/*end:layout*/

/*begin:elements*/
#title{
    font-family:Futura;
    font-weight:300;
    font-size:1.5em;
    letter-spacing:.9em;
    display:block;
    margin:auto;
    padding:60px;
    text-transform:uppercase;
    text-align:center;
}
.spacer{
    height:50px;
}
#portrait{
    width:200px;
    border-radius:50%;
    display:block;
    margin:auto;
    border-width:7px;
    border-style:solid;
    border-color:#ffffff;
}
.button{
    border-color:#ffffff;
    border-width:1px;
    border-style:solid;
    width:200px;
    display:block;
    padding:15px;
    margin:auto;
    margin-top:30px;
    font-family:Futura;
    letter-spacing:.2em;
    text-transform:uppercase;
    text-align:center;
    vertical-align:middle;
}
#social{
    display:block;
    margin-top:50px;
    text-align:center;
}
#social img{
    width:40px;
    margin:20px;
}
/*end:elements*/
