:root{
    --white:#ffffff;
    --black:#888888;
    --background-color:#dddddd;
    --light-gray:#cccccc;
    --post-background:#e6e6e6;
}
*{
    text-decoration:none;
    color:var(--black);
    background-color:var(--background-color);
    font-family:Futura;
}
/*begin:fonts*/
    #title{
        font-size:1.5em;
        letter-spacing:.9em;
        display:block;
        margin:auto;
        padding:15px;
        text-transform:uppercase;
        text-align:center;
    }
    .white{
        color:var(--white);
    }
    .big{
        text-transform:uppercase;
        font-size:15px;
        letter-spacing:8px;
        line-height:25px;
    }
    .little{
        text-transform:uppercase;
        font-size:11px;
        letter-spacing:2px;
    }
    .chords{
        font-size:15px;
        word-spacing:8px;
    }
    .field{
        font-size:10px;
        text-transform:uppercase;
        letter-spacing:1px;
    }
/*end:fonts*/

/*begin:layout*/
    body{
        margin:0;
    }
    .framed{
        min-height:95%;
        border-width:20px;
        border-style:solid;
        border-color:var(--white);
    }
    .bar{
        padding:10px;
        background-color:var(--light-gray);
    }
    .bar *{
        background-color:inherit;
    }
    .footer{
        position:fixed;
        bottom:0;
        width:100%;
    }
    .banner{
        overflow:hidden;
        position:relative;
        max-width:100%;
        max-height:500px;
    }
    .banner img{
        width:100%
    }
    .overlay{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:75%;
        text-align:center;
        background:rgba(0, 0, 0, 0);
    }
    .overlay p{
        background:inherit;
    }
    .grayscale{
        filter:gray;
        -webkit-filter:grayscale(100%);
        transition-duration:3s;
    }
    .grayscale:hover{
        filter:none;
        -webkit-filter:grayscale(0%);
    }
    .spacer{
        height:50px;
    }
/*end:layout*/

/*begin:elements*/
    #portrait{
        width:200px;
        border-radius:50%;
        display:block;
        margin:auto;
        margin-top:15px;
        margin-bottom:15px;
        border-width:7px;
        border-style:solid;
        border-color:var(--white);
    }
    .description{
        width:500px;
        max-width:95%;
        padding-top:50px;
        padding-bottom:50px;
        margin:auto;
    }
    #generator{
        text-align:center;
        margin:auto;
    }
    #select{
        display:inherit;
        margin:inherit;
        margin-top:10px;
    }
    .deck{
        height:375px;
        width:250px;
        border:1px;
        border-style:solid;
        margin:auto;
        margin-top:30px;
    }
    .deck p{
        text-align:center;
        margin-top:20px;
        padding-left:5%;
        padding-right:5%;
    }
    .post{
        display:block;
        margin:auto;
        margin-top:70px;
        padding:70px;
        border-style:solid;
        border-width:1px;
        border-color:var(--black);
        width:700px;
        max-width:80%;
        background-color:var(--post-background);
    }
    .post *{
        background-color:inherit;
    }
    @media only screen and (max-width: 800px){
        .post{
            padding:30px;
        }
    }
    .post h1{
        font-size:1.5em;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:.5em;
        line-height:50px;
        font-weight:300;
    }
    .post h2{
        font-size:1em;
        text-transform:uppercase;
        letter-spacing:.5em;
        font-weight:300;
    }
    .post .date{
        text-align:center;
        font-size:.5em;
        letter-spacing:1em;
    }
    .post p, li{
        line-height:2em;
        letter-spacing:.07em;
    }
    .button{
        border-color:var(--black);
        border-width:3px;
        border-style:solid;
        width:180px;
        display:block;
        padding:15px;
        margin:auto;
        margin-top:30px;
        letter-spacing:.2em;
        text-transform:uppercase;
        text-align:center;
        background-color:inherit;
    }
    #social{
        display:block;
        margin-top:20px;
        text-align:center;
    }
    #social img{
        width:40px;
        margin:20px;
    }
    .symbol{
        display:block;
        margin:auto;
        width:50px;
        margin-top:30px;
        margin-bottom:30px;
    }
/*end:elements*/
    
/*begin:slider*/
    .switch{
      position:relative;
      display:inline-block;
      width:30px;
      height:17px;
    }
    .switch input{
        display:none;
    }
    .slider{
      position:absolute;
      cursor:pointer;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#eeeeee;
      -webkit-transition:.4s;
      transition:.4s;
    }
    .slider:before{
      position:absolute;
      content:"";
      height:13px;
      width:13px;
      left:2px;
      bottom:2px;
      background-color:white;
      -webkit-transition:.4s;
      transition:.4s;
    }
    input:checked + .slider{
      background-color:#cccccc;
    }
    input:focus + .slider{
      box-shadow:0 0 1px #cccccc;
    }
    input:checked + .slider:before{
      -webkit-transform:translateX(13px);
      -ms-transform:translateX(13px);
      transform:translateX(13px);
    }
    /* Rounded sliders */
    .slider.round{
      border-radius:17px;
    }
    .slider.round:before{
      border-radius:50%;
    }
/*end:slider*/
